
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
.barre-violette {
    background-color: #ff03f7;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.petit-logo {
    height: 30px;
}

.newsletter {
    display: flex;
    align-items: center;
}

.newsletter span {
    margin-right: 10px;
}

.newsletter input {
    padding: 5px;
    margin-right: 5px;
    border: none;
}

.bouton-vert {
    background-color: #2ecc40;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.logo {
    height: 50px;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    margin-left: 20px;
}

.navigation a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 14px;
}

.navigation {
    color: #9c2184;
}
