
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
.barre-violette {
    background-color: #ff03f7;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.petit-logo {
    height: 30px;
}
